nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 22px;
  height: 60px;
  background-color: white;
  border-top: 1px solid #efefef;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  border-radius: 0px 0px 30px 30px;
}

nav a {
  height: 100%;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-top: 5px solid white;
  color: #3f3f3f;
}

nav a.selected,
nav a:hover {
  color: #ff4081;
  border-top: 5px solid #ff4081;
}

.message-write__container {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #efefef;
  padding: 0px 20px;
}

.message-icon {
  font-size: 1.4em;
  letter-spacing: 0.3em;
}

.message-write {
  width: 70%;
  padding: 5px;
  border: none;
}

.message-write:focus {
  outline: none;
}
